.recipe-container-bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 140px;
}

.rating-container {
    display: flex;
    flex-direction: row;
}
.rating-title {
    font-size: 10px;
    /* background-color: red; */
    margin: 20px 0 0 0;
}
.star2 {
    width: 5px;
    height: 10px;
}

.rating-counter-container {
    font-size: 5px;
}
.ingredients-container {
    display: flex;
    flex-direction: column;
}

.food-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.instructions-container {
    display: flex;
    flex-direction: column;
}

.step-container {
    display: flex;
    flex-direction: column;
}

.each-step-container {
    display: flex;
    flex-direction: row;
}
.step-header-title {
    width: 100px;
    display: flex;
    height: 50px;
    justify-content: flex-end;
}
.step-content {
    padding: 0px 0px 0px 30px;
    width: 80%;
}
#fname {
    width: 100%;
    padding: 50px 20px;
    margin: 20px 0;
    box-sizing: border-box;
    border: 2px solid green;
    border-radius: 4px;
  }

