.banner-image {
    display: flex;
    width: 100vw;
    height: 400px;
}
.image{
    width: 100vw;
    height: 400px;
}
@media only screen and (min-device-width : 350px) and (max-device-width : 736px) {
    .banner-image {
        /* display: flex;
        width: 100vw;
        height: 200px; */
        display: none;
    }
}
