@font-face {
    font-family: CronosPro-Semibold;
    src: url(/CronosPro/CronosPro-Semibold.otf);
}

@font-face {
    font-family: CronosPro-LtCapt;
    src: url(/CronosPro/CronosPro-LtCapt.otf);
}

@font-face {
    font-family: CronosPro-Ltlt;
    src: url(/CronosPro/CronosPro-LtIt.otf);
}


.recipe-container-top{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 140px;
}

.left-container{
    display: flex;
    flex-direction: column;
    width:100%;
}

.left-below-photo-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.photo-container{
    background-image: url("https://assets3.thrillist.com/v1/image/2797371/size/tmg-article_default_mobile.jpg");
    background-size: cover;
    width: 100%;
    height: 300px;
}


.right-container{
    margin-left: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}


.info-circle{
    background-color: #ffd7bc;
    padding: 20px 10px;
    text-align: center;
    border-radius: 50%;
}

.bookmark{
    background-color: greenyellow;
    width: 50px;
    height: 80px;
    margin-left: 50%;    
}

.title-info{
    font-size: 10px;
}

.info-container{
    text-align: center;
}

.info-category{
    font-size: 10px;
}

.search-form {
    display: flex;
    flex-direction: row;
    justify-self: center;
    align-items: center;
    align-content: center;
    justify-content: center;
    background-color: #8fc982;
    max-width: 100vw;
    min-width: 100vw;
    height: 45px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 1px 4px 8px 1px rgba(0, 0, 0, 0.4);
    margin-bottom: 50px;
}
.search-bar-text {
    width: 350px;
    height: 45px;
    font-family: CronosPro-LtCaptIt;
    font-size: 22px;
    letter-spacing: 0.55px;
    color: black;
}
.search-bar-button {
    flex:1;
    width: 88px;
    height: 52px;
    background-color: #457a42;
    margin-right: 50px;
}
.drop-down {
    flex: 1;
    width: 152px;
    height: 40px;
    font-family: CronosPro-LtCaptIt;
    font-size: 16px;
    color: black;
}
