

.recipe-container-top{
    display: flex;
    flex-direction: row;
    /* background-color: rebeccapurple; */
    justify-content: center;
    margin: 0 140px;
}

.left-container{
    display: flex;
    flex-direction: column;
    /* background-color: blue; */
    width:100%;
}

.left-below-photo-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* background-color: red; */
}

.photo-container{
    background-image: url("https://assets3.thrillist.com/v1/image/2797371/size/tmg-article_default_mobile.jpg");
    background-size: cover;
    width: 100%;
    height: 300px;
}


.right-container{
    margin-left: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* background-color: pink; */
}


.info-circle{
    background-color: #ffd7bc;
    padding: 20px 10px;
    text-align: center;
    border-radius: 50%;
}

.bookmark{
    background-color: greenyellow;
    width: 50px;
    height: 80px;
    margin-left: 50%;    
}

.title-info{
    font-size: 10px;
}

.info-container{
    text-align: center;
}

.info-category{
    font-size: 10px;
}